body {
    
    background-color:rgb(206, 252, 244);

}

#everything {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 10px;
    margin-top: 60px;
}

input{
    height: 35px;
    width: 73px;
    font-size: large;
    text-align: right;

}

button{
    padding: 10px 20px;
    background-color: black;
    color:aliceblue;
    border: none;
    border-radius: 4px;
}