body {
    
    background-color:rgb(255, 255, 255);

}
  

#everything {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 10px;
    margin-top: 60px;
}

#initMessage{
    font-size: 24px;
}

h1{
    font-size: 70px;
}

input{
    height: 35px;
    width: 73px;
    font-size: large;
    text-align: center;

}

button{
    padding: 10px 20px;
    background-color: black;
    color:aliceblue;
    border: none;
    border-radius: 4px;
}
button:hover{
    cursor: pointer;
    background-color: gray;
}